<style>
    .brand-link .brand-image {
        margin-left: unset;
    }

    .nav-pills .nav-link {
        color: #fff;
    }

    .nav-pills .nav-item:hover {
        background-color: #810001 !important;
    }

    @media (max-width: 767.98px) {
        .nav-tabs:not(.more-nav), .nav-pills {
            text-align: left;
            margin: 0;
            border: 0;
            padding: .125rem;
            background-color: unset;
        }
    }

    @media (max-width: 767.98px) {
        .nav-tabs:not(.more-nav) .nav-link, .nav-pills .nav-link {
            background: #e31837;
            border: 0;
            margin: .125rem;
            margin-bottom: 0.125rem;
            text-align: left;
        }
    }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{home_page}}" class="brand-link">
        <img src="{{config.wwwroot}}/theme/cria/img/aura_logo.svg" alt="{{sitename}} Logo"
             class="brand-image img-fluid img-size-50 elevation-3 mr-2" style="opacity: .8; filter: brightness(0) invert(1);">
        <span class="brand-text font-weight-light">&nbsp;</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {{#isloggedin}}
                    <li class="nav-item">
                        <a href="{{home_page}}" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                {{#str}}dashboard, theme_cria{{/str}}
                            </p>
                        </a>
                    </li>

                    {{#navdrawer_items}}
                        <li class="nav-item" {{#divider}}style="border-bottom: 1px solid #4f5962;"{{/divider}}>
                            <a href="{{url}}" class="nav-link">
                                <i class="nav-icon {{icon}}"></i>
                                <p>
                                    {{title}}
                                    {{#has_submenu}}
                                        <i class="fas fa-angle-left right"></i>
                                        <span class="badge badge-info right">{{has_submenu}}</span>
                                    {{/has_submenu}}
                                </p>
                            </a>
                            {{#has_submenu}}
                                <ul class="nav nav-treeview">
                                    {{#submenu}}
                                        <li class="nav-item" {{#divider}}style="border-bottom: 1px solid #4f5962;"{{/divider}}>
                                            <a href="{{url}}" class="nav-link">
                                                <i class="nav-icon {{icon}}"></i>
                                                <p>
                                                    {{title}}
                                                </p>
                                            </a>
                                        </li>
                                    {{/submenu}}
                                </ul>
                            {{/has_submenu}}

                        </li>
                    {{/navdrawer_items}}
                    {{#is_siteadmin}}
                        <li class="nav-item">
                            <a href="{{config.wwwroot}}/admin/search.php" class="nav-link">
                                <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    {{#str}}administrationsite, core{{/str}}
                                </p>
                            </a>
                        </li>
                    {{/is_siteadmin}}
                {{/isloggedin}}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>